*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

span{
    color: red;
}

button{
    color: black;
    background-color: aqua;
    padding: 10px;
}